extends includes/layout.pug

block content
  div#tag
    h1
       i(class="fa fa-tag")
       != page.tag
    - page.posts.each(function(article){
      .article-list-item
        time(class='item-time', datetime=date_xml(article.date))= date(article.date, 'M.D, YYYY')
        a(href=url_for(article.path))= article.title || 'No Title'
      //- if article.link
      //-   a(href=url_for(article.link) target="_blank")
      //-     = article.title || 'No Title'
      //-   time(datetime=date_xml(article.date))= date(article.date)
    - })

  include includes/sidemenu.pug
  include includes/pagination.pug

