div#footer
    div vv13 &copy; 2017
    .shortcut
        if theme.rss
            a(href=theme.rss)
                i(class="fa fa-rss",aria-hidden="true")
        if theme.github
            a(href=theme.github)
                i(class="fa fa-github",aria-hidden="true")
