div#footer
    div #{config.author} &copy; 2017
        if theme.ama_url
            a(href=theme.ama_url, class="ama", target="_blank") Ask Me Anything
    .shortcut
        if theme.rss
            a(href=theme.rss)
                i(class="iconfont icon-rss",aria-hidden="true")
        if theme.github
            a(href=theme.github)
                i(class="iconfont icon-github",aria-hidden="true")
