

include ../mixins/title-info

if site.posts.length > 0
  .recent-posts
    each post in page.posts.sort('date', -1).toArray()
      .recent-post-item
        div
          a(class='post-title', href=config.root + post.path)= post.title
          .post-excerpt
            if post.excerpt
              != post.excerpt
            else
              != post.raw

          +titleInfo(post)


