.side-menu
    .shortcut(id="goHome")
        a(href="/")
            i(class="fa fa-home",aria-hidden="true")
    .shortcut(id="goTop")
        a
            i(class="fa fa-arrow-up",aria-hidden="true")
