.side-menu
    .shortcut(id="goHome")
        a(href="/")
            i(class="icon-home iconfont",aria-hidden="true")
    .shortcut(id="goTop")
        i(class="icon-yijiantisheng iconfont",aria-hidden="true")
